<figure>
  <%= image_tag Gravatar.new(@friend.email).image_url(s: 300) %>
  <p><strong><%= @friend.name %></strong>, <%= @friend.age %> años</</p>

<div class="btn-group">
	<button type="button" class="btn btn-success btn-lg"><i class='glyphicon glyphicon-ok-circle'></i>
    <%= link_to "Me Gusta", friends_like_path(id: @friend, liked: true), method: :post %>
  </button>
  <button type="button" class="btn btn-danger btn-lg"><i class='glyphicon glyphicon-ban-circle'></i>
    <%= link_to "No Me Gusta", friends_like_path(id: @friend, liked: false), method: :post %>
  </button>
</div>
</figure>
